.content {
    margin: $l-size;
}

h1 {
    margin-bottom: $m-size;
}

h2 {
    margin-bottom: $m-size;

}

h3 {
    margin-bottom: $m-size;

}

h4 {
    margin-bottom: $m-size;

}

p {
    margin-bottom: $m-size;
}