.header-heading {
    font-size: $xl-size;
    padding: $l-size;
    color: #DCF2FF;
    
}

header a {
    margin: $l-size;
    color: $pictonblue;
    
}

header {
    background: $charcoal;
    color: white;
}

a:hover {
    color: $mayablue;
}